#top{
	height:45px;
	width: 89.5%;
	background-color: #2F97D1;
	padding-left: 100px;
	padding-right:100px;
	display: flex;
	align-items: center; 
	position:fixed;
	top:0;
    /*justify-content: center;*/
}

body{
	margin:0px;
	background-color: #F7F8FA;
}
#post{
	display: inline;
}

#cat{
	border-radius: 50%;
	width: 30px;
    height: 30px;
    /*transform: translateX(650px) translateY(15px);*/
}
#notification{
	border-radius: 50%;
	width: 35px;
    height: 35px;
    /*transform: translateX(630px) translateY(15px);*/


}

#sendPost textarea{
	border-style:none;
	margin:10px;
}

#postTop{
	width:auto;
	height:30px;
	background-color: #2E97D1;
	display:flex;
	justify-content: flex-start;
	padding-left: 20px; 
	font-weight:bold;
	font-size: 10px;
	color:white;
	align-items: center; 
	border-color:#D8DEE2;


}

.postFace{
	border-radius: 50%;
	width: 35px;
    height: 35px;
}
#userPhoto{
	border-radius: 50%;
	width: 100px;
    height:100px;
}
#intro{
	width:300px;
	height:200px;
	border-style: solid;
	border-color:#D8DEE2;
	/*margin:20%;*/
	background-color: white;
	border-radius:5px;
	border-width: thin;
	padding: 30px 10px 30px 10px;
	margin-top: 20px;
	margin-right: 50px;
}

#information{
	width: 100%;
	display:flex;
	/*padding-left: 20%;*/
	/*padding-right: 20%;*/
	/*align-items: center; */
	margin-top: 60px;
    justify-content: center;
}
#main{
	
}

#noti{
	width:350px;
	height:auto;
	margin-top: 20px;
	margin-left:50px;
}
#ph{
	width:300px;
	height:auto;
	margin-top: 80px;
}
#notification{
}

.name{
	margin-right: 50px;
	margin-left: 20px;
}
.date{
	margin-left: 190px;
	/*transform: translateX(190%);*/
}
.postForm{
	width:450px;
	height:auto;
	border-style: solid;
	border-color:#D8DEE2;
	/*margin:20%;*/
	background-color: white;
	border-radius:5px;
	border-width: thin;
	padding: 30px 10px 15px 10px;
	margin-top: 20px;

}
#sendPost{
	width:467px;
	height:auto;
	border-style: solid;
	border-color:#D8DEE2;
	/*margin:20%;*/
	background-color: white;
	border-radius:5px;
	border-width: thin;
	margin-top: 20px;
}

.title{
	display:flex;
	/*align-items: center; */
	/*justify-content: center;*/
}
.leaveMessageButton{
	display: flex;
	justify-content: space-around;
}
#leaveMessage{
	width: 100%;
	height: 30px;
	border-style:none;
	background-color: #F2F3F5;
	border-radius: 10px;

}
#leaveMessage textarea{
	border:none;
	width: 100%;
	resize:none;
	margin:5px;
	height:15px;
	background: transparent;
}

#postBody{
	display:flex;
	padding: 10px 10px 0px 10px;
	/*align-items: center; */
	/*justify-content: center;*/
}
#sendPost button{
	margin-bottom:15px;
	width:54px;
	background-color: #2E97D1;
	color:white;
	border-style: none;
}


a{
	color: #4267B2;
	text-decoration:none;
	font-size: 10px;
}
.postForm button{
	color:#4267B2;
	font-size: 10px;
	padding: 0;
	border: none;
	background: none;
}
#top a{
	margin-left: 30px;
	color:#9DCCE9;
	text-decoration:none;
	font-size: 10px;

}
a:hover {
    color: #9DCCE9;
}

.messages{
	display:flex;
	/*margin-bottom: 10px;*/
}
#chatlist{
	height:100%;
	border-left: solid;
	border-color:#D8DEE2;
	border-width: 1px;
	padding: 5px 5px 5px 5px;

}
#chat{
	width:8%;
	height: 100%;
	position:fixed;
	right:0;
	top:45px;
	background-color: #F7F8FA;
	/*display: inline-block;*/
}
.chatButton{
	margin-bottom:15px;
	width:100%;
	background-color: #F7F8FA;
	color:black;
	border-style: none;
	display: flex;
	align-items: center; 
    justify-content: flex-start;

}

.chatButton:hover {
	background-color: #F1F0F0;
}

#chatRooms{
	width:auto;
	height:200px;
	border-style: none;
	/*background-color: black;*/
	background: transparent;
	/*margin:20%;*/
	display: flex;
	align-items: flex-end;
	position:fixed;
	right:10%;
	bottom: 0;
}

.chatRight{
	border-style:none;
	background-color: #0084FF;
	border-radius: 10px 10px 0px 10px;
	margin:5px 15px 5px 5px;
	padding: 8px;
	color:white;
	font-size: 12px;
	display:inline;
	word-break: break-all;
	max-width: 40%; 
	/*align-self: flex-end;*/

}

.chatLeft{
	margin:5px 5px 5px 15px;
	word-break: break-all;
	max-width: 40%; 
	border-style:none;
	display:inline;
	background-color: #F1F0F0;
	border-radius: 10px 10px 10px 0px;
	padding: 8px;
	font-size: 12px;
	align-self: flex-start;

}

.chatRoom{
	width:250px;
	height:300px;
	border-style: solid;
	border-color:#D8DEE2;
	background-color: white;
	border-radius:5px;
	border-width: thin;
	margin-right: 10px;


	/*position:fixed;
	right:8%;
	bottom: 0;*/
}
.chatRoomTitle{
	width:100%;
	color:black;
	border-style: none;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    padding: 3px 5px 1px 5px;
}
.chatRoomContent{
	width:100%;
	height: 195px;
	overflow: auto;
	/*display: flex;
	flex-direction: column;
	align-items: flex-start;*/
	/*align-items: flex-start;*/
}
#inputChat{
	width: 95%;
	height: 30px;
	border-style:none;
	border-radius: 10px;
}


.messages div{
	border-style:none;
	background-color: #F2F3F5;
	border-radius: 10px;
	padding: 2px 5px 2px 5px;
	margin-left: 10px;
	/*height: 18px;*/
	height:auto;
	word-break: break-all;
	font-size: 10px;
	text-align: left;
}
.messages div a{
	margin-right: 10px;
	height: 100%;
}

#mark{
	color:white;
	font-size: 20px;
}

.postContentImg{
	width: 100%;
    height: auto;
}

#search{
	border-radius:5px;
	width: 300px;
	height:30px;
	border-width: 1px;
	margin-top:15px;
	border-style: solid;
	border-color:#D8DEE2;
	margin-bottom: 15px;
	/*transform: translateX(200%);*/

}

#topRight{
	display: flex;
	width:100%;
	align-items: center; 
    justify-content: flex-end;
	/*justify-content: flex-start;*/

}