{%load staticfiles %}

<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<!-- <script type="text/javascript" src="{% static 'js/updates.js' %}"></script> -->
		<script type="text/javascript" src="{% static 'js/update.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'css/information.css' %}" rel='stylesheet' type='text/css' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div id = "top">
	<p id="mark"> BlogCat </p>
	<a href="#">Home</a>
	<a href="#">Profile</a>
	<a href="#">Photo</a>
	<div id="topRight" align="right">
	<input id="search" type="text" placeholder="Search" />
	<img id = "notification" src="{% static 'images/notifications.png' %}" alt="Avatar">
	<img id = "cat" src="{% static 'images/cat.jpeg' %}" alt="Avatar">
	</div>

</div>

<div id = "information" align="center">
	<div id="intro">
	<img id = "userPhoto" src="{{photo.photo.url}}">
		<h3>{{ User.name }} </h3>
	<div id="makeDescription">
		{% if User.description %}
			{{User.description}}
		{% endif %}
	</div>
	<a onclick="createDescription()" href="#"> 更新簡介</a>

        <!-- <li> {{ User.email }} </li> -->
        {% if addFriend %}
        <button type="button" onclick="addFriend({{User.user_id}})"> 加為好友</button>
        {% endif %}
        {% if text %}
        <p> {{text}}</p>
        {% endif %}
        {% if waitConfirm %}
        <button type="button" onclick="addFriend({{waitConfirm}})"> 確認</button>
        {% endif %}
        <img id = "ph" src="{% static 'images/photo.png' %}">
    </div>


       <!--  <br>
        <button type="button" onclick="addFriend()"> 加為好友</button> -->
<div id = "post">

	<div id="sendPost">
		<div id="postTop">建立貼文</div>
		<div id="postBody">
		<img class = "postFace" src="{% static 'images/cat.jpeg' %}" alt="Avatar">
		<textarea id = "content" name="Content" placeholder="說點什麼" style="resize:none;width:400px;height:120px;"></textarea>
		</div>
		<div style="width:95%; height:2px; background: #F7F8FA; margin-bottom: 5px;"></div>
		<input id = "file" type="file" name="user_image">
		<button type="button" onclick="sendPost()"> 送出</button>
	
	</div>
	<div id="posts">

	{% for post in posts %}
	<div class="postForm">
		<div class="title">
			<img class="postFace" src="{{post.userPhoto}}" alt="Avatar">
			<span class="name">{{post.name}}</span>
			<span class="date">{{ post.date }} </span>

		</div>
        <p align="left"> {{ post.content }} </p>
        {% if post.contentPhoto %}
        <img class="postContentImg" src="{{post.contentPhoto}}"><br>
        {% endif %}
        <p align="left" style="color:#4267B2; font-size: 10px;" id="like{{post.id}}"> 讚&nbsp;{{post.likes}}</p>
        <div style="width:97%; height:2px; background: #F7F8FA; margin-bottom: 5px; margin-top: 10px;"></div>
        <div class = "title">
        <button id = "like_button{{ post.id }}" onclick="like({{ post.id }})"> 
        {% if post.hasLike %}	
       	收回讚
       	{% else %}
       	讚
       	{% endif %}
        </button>
        <button onclick=""> 留言</button>
        <button onclick=""> 分享</button>
        </div>
        <div style="width:100%; height:2px; background: #F7F8FA; margin-top: 8px;margin-bottom: 8px;"></div>
    	
    	<div id="message{{post.id}}">
    		{% for message in post.messages %}
    		<div class="messages" id = 'message{{message.id}}'>
	    		<img class="postFace" src="{{message.userPhoto}}" alt="Avatar">
	    		<div> <a href="/information/{{message.user_id}}"> {{message.name}}</a> {{message.content}}</div>
    		</div>
    		<br>
    		{% endfor %}
    	</div>
        <div id="leaveMessage">
        	<textarea placeholder="留言" id="mess{{post.id}}" onkeypress="onTestChange({{post.id}})"></textarea>
        </div>
    </div>
    
	{% endfor %}
</div>

</div>
<div id="noticiations">
	<img id = "noti" src="{% static 'images/n.png' %}">
</div>
<div hidden id="chat">
<div id = "chatlist">
	{% for user in chats %}
		<li onclick="chooseUser({{user.user_id}})"> {{user.name}}</li>
	{% endfor %}
</div>

<textarea id = "chatRoom" name="chatroom" style="width:400px;height:120px;">
</textarea>
	<input id="chat" type="text">
	<button type="button" onclick="sendChat()"> 送出</button>
<br>
</div>
<!-- {% for photo in photos%}
<img src="{{photo.photo.url}}" width='200px' heigth='200px'>
{% endfor %} -->
</div>




</body>
</html>