{%load staticfiles %}

<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="{% static 'js/update.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<textarea id = "content" name="Content" style="width:400px;height:120px;">
</textarea>
	<button type="button" onclick="sendPost()"> 送出</button>

<div id = "post">
	{% for post in posts %}
		<li> {{post.name}}</li>
        <li> {{ post.date }} </li>
        <li> {{ post.content }} </li>
        <button type="button" onclick="like({{ post.id }})"> 按讚</button>
        <br>
	{% endfor %}
</div>

<div id = "chatlist">
	{% for user in users %}
		<li onclick="chooseUser({{user.user_id}})"> {{user.name}}</li>
	{% endfor %}
</div>
<textarea id = "chatRoom" name="chatroom" style="width:400px;height:120px;">
</textarea>
	<input id="chat" type="text">
	<button type="button" onclick="sendChat()"> 送出</button>

</body>
</html>